@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="loginp">
        <h1>Login</h1><br>
        <input type="text" placeholder="Name" class="name">
        <input type="text" placeholder="Parol" class="parol">
        <button class="loginbtn">Login</button><br><br><br>
        <a href="register.html">Register</a>
    </div>
</div>

