@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ch">
    <img src="~/Areas/adminproject/Public/images/contact.jpg" style="width:100%">
</div>
<div class="program">
    <h3 style="text-align: center;padding-top:15px">Our Programs</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="font-size:25px">
            Trial class
            <br>
            <br>
            <br>
            Mini class
            <br>
            <br>
            <br>
            Young class
        </div>
        <div class="col-md-6" style="font-size:25px">
            1 hr 30 min Price Free
            <br>
            <br>
            <br>
            Started Sep 10 $425
            <br>
            <br>
            <br>
            Start Sep 10 $525
        </div>
    </div>
</div>
