
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ch">
    <img src="~/Areas/adminproject/Public/images/children.jpg" style="width:100%">
</div>
<div class="aboutpr">
    <br><br><h3 style="color:rgb(51, 51, 51);text-align: center">ABOUT OUR KARATE SCHOOL</h3><br><br>
    <p class="parag1">
        <b>
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.

            <br>
        </b>
    </p>

</div>

<div style="height:70px"></div>
<div class="aboutpic">
    <img style="width:100%" src="~/Areas/adminproject/Public/images/staffphoto.jpg">
</div>
<div style="height:70px"></div>


<div class="container">
    <div class="row">
        <div class="count">
            <h3 class="count6">6</h3>
        </div>
        <div class="principles">
            <h3 style="padding-top: 50px;text-align: center;font-size: 30px;letter-spacing: 3px;"><b>Specification OF OUR KARATE SCHOOL</b></h3>
        </div>
        <div class="count1"></div>
        <div class="principles">
            <div><h4>1.Respect  <br><br> Self-Discipline</h4></div>
            <div><h4>2.Focus    <br><br> Confidence</h4></div>
            <div><h4>3.Safety    <br><br> Leadership</h4></div>
        </div>
    </div>
</div>
<div class="height" style="height:90px;"></div>
<div class="container position-relative">
    <div class="row">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=schhol%20nyc&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
</div>

