@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ch">
    <img src="~/Areas/adminproject/Public/images/staff1.jpg" style="width:100%">
</div>
<div class="blackpart">
    <h2>Meet Our Staff</h2>
</div>
<div class="height" style="height: 70px;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="staffdiv">
                <img src="~/Areas/adminproject/Public/images/st4.jpg" style="width: 100%">
                <h5>Jake Silva<br><br>Owner and Chief Instructor</h5>
            </div>
            <div class="staffp">
                <p><b>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</b></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="staffdiv">
                <img src="~/Areas/adminproject/Public/images/st5.jpg" style="width: 100%">
                <h5>Terri Garner<br><br>Instructor</h5>
            </div>
            <div class="staffp">
                <p><b>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</b></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="staffdiv">
                <img src="~/Areas/adminproject/Public/images/st6.jpg" style="width: 100%">
                <h5>Sean Walters<br><br>Instructor</h5>
            </div>
            <div class="staffp">
                <p><b>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</b></p>
            </div>
        </div>
    </div>
</div>

<div class="height" style="padding-bottom:50px"></div>


